.v-application {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #f6f7fb !important;
}

.custom-btn {
  background-color: #191919 !important;
  color: #fff !important;
}

.custom-btn-accent {
  background-color: #54d6c0 !important;
  color: #fff !important;
}

.custom-btn-danger {
  background-color: #fab9bb !important;
  color: #fff !important;
}

.gravatar-container img {
  z-index: 2;
}
